@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans&display=swap');
@import url('./src/css/cabegalho.css');
@import url('./src/css/content.css');
@import url('./src/css/rodape.css');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
 --bg-url: linear-gradient(to right, #5694ba, #19274e);
 --font-family: "Bebas Neue", sans-serif;
 
}

body {
    background-image: var(--bg-url);
    font-family: var(--font-family);
}
