@import url('/global.css');

/* VARIÁVEIS CSS */
:root {
 --color-text-shadow: #ffff00;
 --color: #204b5e;
 --color-legenda: #19274e;
}

/* CUIDA DOS ESTILOS DO CABEÇALHO */
#cabegalho {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vh;
    padding: 3vw;
}

/* CUIDA DOS ESTILOS DO TITÚLO */
#titulo-principal {
    font-size: 4vw;
    font-weight: 700;
    text-shadow: 2px 2px 2px var(--color-text-shadow);
    color: var(--color);
}

/* CUIDA DOS ESTILOS DA LEGENDA */
#legenda {
    font-size: 2vw;
    font-weight: 600;
    text-shadow: 2px 2px 2px var(--color-text-shadow);
    color: var(--color-legenda);
}
